@model OnlineShoppingMVC.Models._Admin
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Agroxa - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="/AdminAssets/images/favicon.ico">

    <link href="/AdminAssets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/AdminAssets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/AdminAssets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/AdminAssets/plugins/dropify/css/dropify.css" rel="stylesheet" />
    <link href="~/AdminAssets/Dropify.css" rel="stylesheet" />
    <link href="~/AdminAssets/plugins/toastr/toastr.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Background -->
    <div class="account-pages"></div>

    <!-- Begin page -->
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="index.html" class="logo logo-admin"><img src="/AdminAssets/images/logo.png" height="30" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Free Register</h4>
                    <p class="text-muted text-center">Get your free Agroxa account now.</p>

                    <form class="form-horizontal m-t-30" id="FrmRegistration" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="username">Name</label>
                                    @Html.TextBoxFor(a => a.AdminName, new { @class = "form-control", placeholder = "Enter Name" })

                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label for="userpassword">Email</label>
                                    @Html.TextBoxFor(a => a.AdminEmail, new { @class = "form-control", placeholder = "Enter Email" })
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label for="userpassword">User Name</label>
                                    @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", placeholder = "Enter UserName" })
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label for="userpassword">Password</label>
                                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control", placeholder = "Enter Password" })
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label for="userpassword">Contact</label>
                                    @Html.TextBoxFor(a => a.AdminContact, new { @class = "form-control", placeholder = "Enter Contact" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="username">Address</label>
                                    @Html.TextBoxFor(a => a.AdminAddress, new { @class = "form-control", placeholder = "Enter Address" })

                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label for="userpassword">Image</label>
                                    @Html.TextBoxFor(a => a.Image, new { type = "file", @class = "form-control Image", placeholder = "Enter Contact" })
                                </div>
                            </div>
                            @*<div class="col-lg-12">

                                    <div class="form-group">
                                        <label for="userpassword">Image</label>
                                        @Html.TextBoxFor(a => a.Image, new { type = "file", @class = "form-control", placeholder = "Enter Contact" })
                                    </div>
                                </div>*@
                        </div>





                        <div class="form-group row m-t-20">
                            <div class="col-12 text-right">
                                <input type="submit" name="name" form="FrmRegistration" value="Register" class="btn btn-primary w-md waves-effect waves-light" />
                            </div>
                        </div>

                        <div class="form-group m-t-10 mb-0 row">
                            <div class="col-12 m-t-20">
                                <p class="font-14 text-muted mb-0">By registering you agree to the Agroxa <a href="#" class="text-primary">Terms of Use</a></p>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p class="text-muted">Already have an account ? <a href="pages-login.html" class="text-white"> Login </a> </p>
            <p class="text-muted">© 2018 Agroxa. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div>
    </div>

    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="/AdminAssets/js/jquery.min.js"></script>
    <script src="/AdminAssets/js/bootstrap.bundle.min.js"></script>
    <script src="/AdminAssets/js/jquery.slimscroll.js"></script>
    <script src="/AdminAssets/js/waves.min.js"></script>

    <script src="/AdminAssets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/AdminAssets/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/AdminAssets/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <!-- App js -->
    <script src="/AdminAssets/js/app.js"></script>
    <script src="~/AdminAssets/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/AdminAssets/plugins/toastr/toastr.min.js"></script>
    @*<script src="~/AdminAssets/plugins/tinymce/tinymce.min.js"></script>
        <script src="~/AdminAssets/plugins/tinymce/tinymce-data.js"></script>*@
    <script>
        $(document).ready(function () {

            /*  $('#Image').dropify();*/
            SaveAdmin();

        });

        function SaveAdmin() {
            $("#FrmRegistration").submit(function (event) {
                event.preventDefault();
                var check = $(this).valid();
                if (!check) {
                    return false
                } else {
                    var frmdata = new FormData(document.getElementById("FrmRegistration"));
                    $.ajax({
                        type: "Post",
                        url: "/Admin/AdminRegistration",
                        processData: false,
                        contentType: false,
                        data: frmdata,
                        success: function (res) {
                            if (res == 1) {
                                toastr.success("Congrulation your are sucessfully registered");
                            }
                        }
                    });
                }
            });
        }
    </script>
</body>

</html>