@model OnlineShoppingMVC.Models._ViewCheckout 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="toggle_info">
                        <span><i class="fas fa-user"></i>Returning customer? <a href="#loginform" data-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                    </div>
                    <div class="panel-collapse collapse login_form" id="loginform">
                        <div class="panel-body">
                            <p>If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" required="" class="form-control" name="email" placeholder="Username Or Email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" required="" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                            <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                        </div>
                                    </div>
                                    <a href="#">Forgot password?</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="login">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="toggle_info">
                        <span><i class="fas fa-tag"></i>Have a coupon? <a href="#coupon" data-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                    </div>
                    <div class="panel-collapse collapse coupon_form" id="coupon">
                        <div class="panel-body">
                            <p>If you have a coupon code, please apply it below.</p>
                            <div class="coupon field_form input-group">
                                <input type="text" value="" class="form-control" placeholder="Enter Coupon Code..">
                                <div class="input-group-append">
                                    <button class="btn btn-fill-out btn-sm" type="submit">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="linearicons-credit-card"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <form id="FrmDetail" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading_s1">
                            <h4>Billing Details</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label">User Name</label>
                                    <input type="text" required class="form-control" id="UserName" name="UserName" placeholder="User name *" value="@Model.User[0].UserName">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label">User Email</label>
                                    <input type="text" required class="form-control" id="UserEmail" name="UserEmail" placeholder="Last name *" value="@Model.User[0].UserEmail">
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label">User Contact</label>
                                    <input class="form-control" required type="text" name="UserConatact" placeholder="User Conatact" value="@Model.User[0].UserContact">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label">ZipCode</label>
                                    <input class="form-control" required type="text" name="ZipCode" placeholder="ZipCode" value="@Model.User.FirstOrDefault().ZipCode">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label">User Addres</label>
                                @Html.TextAreaFor(a => a.User.FirstOrDefault().UserAddress, new { @class = "form-control dropify", placeholder = "Shipping Address" })
                                @*<input class="form-control dropify" required type="text" name="UserAddress" placeholder="Shipping Address" value="@Model.User.FirstOrDefault().UserAddress">*@
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label">Description</label>
                                <textarea class="form-control dropify" rows="3" cols="12" required type="text" name="Description" id="Description" placeholder="Description"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="heading_s1">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Cart)
                                        {
                                            <tr>
                                                <td>@item.ProductName <span class="product-qty">x @item.Qty</span></td>
                                                <td>@string.Format("{0:C0}", item.TotalPrice)</td>
                                            </tr>
                                        }


                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal">@string.Format("{0:C0}", Model.Cart.Sum(a => a.TotalPrice))</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td>Free Shipping</td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td class="product-subtotal">@string.Format("{0:C0}", Model.Cart.Sum(a => a.TotalPrice))</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_method">
                                <div class="heading_s1">
                                    <h4>Payment</h4>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" value="option3" checked="">
                                        <label class="form-check-label" for="exampleRadios3">Direct Bank Transfer</label>
                                        <p data-method="option3" class="payment-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios4" value="option4">
                                        <label class="form-check-label" for="exampleRadios4">Check Payment</label>
                                        <p data-method="option4" class="payment-text">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" type="radio" name="payment_option" id="exampleRadios5" value="option5">
                                        <label class="form-check-label" for="exampleRadios5">Paypal</label>
                                        <p data-method="option5" class="payment-text">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" form="FrmDetail" class="btn btn-fill-out btn-block" value="Place Order" />
                            @*<a href="#" class="btn btn-fill-out btn-block" >Place Order</a>*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    @section Script{
        <script src="~/AdminAssets/plugins/tinymce/tinymce.min.js"></script>
        <script src="~/AdminAssets/plugins/tinymce/tinymce-data.js"></script>
        <script>
            $(document).ready(function () {
                PlaceOrder();
                $('.dropify').dropify();
            });
            function PlaceOrder() {
                $('#FrmDetail').submit(function (event) {
                    event.preventDefault();
                    debugger;
                    var chk = $(this).valid();
                    if (!chk) {
                        return false;
                    } else {
                        var frmdata = new FormData(document.getElementById('FrmDetail'));
                        $.ajax({
                            type: 'Post',
                            url: '/CheckOut/PlaceOrder',
                            processData: false,
                            contentType: false,
                            data: frmdata,
                            success: function (res) {
                                if (res>0) {
                                    toastr.success("Your IS Placed Please Wait for next response");
                                    setTimeout(function myfunction() {
                                        window.location = "/CheckOut/Invoice?OrderID=" + res;
                                    },2000)
                                    
                                }
                            }
                        });
                    }
                });
            }

            function Invoice(ID) {
                $.ajax({
                    type: 'Get',
                    url: '/CheckOut/Invoice',
                    data: { OrderID: ID },
                    success: function () {

                    }
                });
            }
        </script>
    }
</div>
<!-- END MAIN CONTENT -->
