@model List<OnlineShoppingMVC.Models._Cart>
<li class="dropdown cart_dropdown">
    <a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-bag2"></i><span class="cart_count">@Model.Count()<label id="CountItem" style="color:white"></label></span><span class="amount"><span class="currency_symbol"></span>@string.Format("{0:C0}", Model.Sum(a => a.TotalPrice))</span></a>
    <div class="cart_box cart_right dropdown-menu dropdown-menu-right">
        <ul class="cart_list">
            @foreach (var item in Model.OrderByDescending(a => a.CartID).Take(2))
            {

            <li>
                <a href="~/Views/Cart/_EditCart.cshtml">~/Views/Cart/_EditCart.cshtml</a>
                <a href="#" class="item_remove"><i class="ion-close"></i></a>
                <a href="#"><img src="@item.ProductImage" alt="cart_thumb1">@item.ProductName</a>
                <span class="cart_quantity"> @item.Qty x <span class="cart_amount"> <span class="price_symbole">$@item.UnitPrice</span></span></span>
            </li>
            

            }
            </ul>
        
        <div class="cart_footer">
            <p class="cart_total"><strong>Subtotal:</strong> <span class="cart_price"> <span class="price_symbole">$</span></span>@string.Format("{0:C0}", Model.Sum(a=>a.TotalPrice))</p>
            <p class="cart_buttons">
                <a href="/Cart/Index" class="btn btn-fill-line view-cart">View Cart</a>
                <a href="#" class="btn btn-fill-out checkout">Checkout</a>
            </p>
        </div>
    </div>
</li>
