@model OnlineShoppingMVC.Models._ViewProductShop
@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Shop Left Sidebar</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Shop Left Sidebar</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row align-items-center mb-4 pb-1">
                        <div class="col-12">
                            <div class="product_header">
                                <div class="product_header_left">
                                    <div class="custom_select">
                                        <select class="form-control form-control-sm">
                                            <option value="order">Default sorting</option>
                                            <option value="popularity">Sort by popularity</option>
                                            <option value="date">Sort by newness</option>
                                            <option value="price">Sort by price: low to high</option>
                                            <option value="price-desc">Sort by price: high to low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="product_header_right">
                                    <div class="products_view">
                                        <a href="javascript:Void(0);" class="shorting_icon grid active"><i class="ti-view-grid"></i></a>
                                        <a href="javascript:Void(0);" class="shorting_icon list"><i class="ti-layout-list-thumb"></i></a>
                                    </div>
                                    <div class="custom_select">
                                        <select class="form-control form-control-sm">
                                            <option value="">Showing</option>
                                            <option value="9">9</option>
                                            <option value="12">12</option>
                                            <option value="18">18</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DivShop">


                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="pagination mt-3 justify-content-center pagination_style1">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">Categories</h5>
                            <button type="button" data-toggle="collapse" data-target="#navCatContent" aria-expanded="false" class="categories_btn" onclick="LaodProduct();">
                                <i class="linearicons-menu"></i><span>All Categories </span>
                            </button>
                            <ul class="widget_categories ">
                                @*Category*@
                                @foreach (var item in Model.Category)
                                {
                                    <li class="dropdown dropdown-mega-menu">
                                        <a class="dropdown-item @*nav-link dropdown-toggler*@" href="#" data-toggle="dropdown"><span> @item.CategoryCount</span></a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">

                                                <li class="mega-menu-col col-lg-5">
                                                    @*SubCategory*@
                                                    <ul class="d-lg-flex" style="width:100px">
                                                        <li class="mega-menu-col col-lg-12">
                                                            <ul>
                                                                <li class="dropdown-header">Sub Category</li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#" onclick="LoadBycategoryID(@item.CategoryID)">All</a></li>

                                                                @foreach (var Sub in Model.SubCategory)
                                                                {
                                                                    if (item.CategoryID == Sub.CategoryID)
                                                                    {
                                                                        <li><a class="dropdown-item nav-link nav_item" href="#" onclick="LoadBySubCategoryID(@Sub.CategoryID,@Sub.SubCategoryID)">@Sub.SubCategoryCount</a></li>


                                                                    }
                                                                }
                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </li>



                                            </ul>
                                        </div>
                                    </li>
                                }



                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Filter</h5>
                            <div class="filter_price">
                                <div id="price_filter" data-min="0" data-max="500" data-min-value="50" data-max-value="300" data-price-sign="$"></div>
                                <div class="price_range">
                                    <span>Price: <span id="flt_price"></span></span>
                                    <input type="hidden" id="price_first">
                                    <input type="hidden" id="price_second">
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">Size</h5>
                            <ul class="list_brand">
                                @foreach (var item in Model.Size)
                                {
                                    <li>
                                        <div class="custome-checkbox">
                                            @*<input class="form-check-input" type="checkbox" name="checkbox" id="Size" value="">*@

                                            <input type="radio"  @*onclick="LoadBySize(@item.SizeID)"*@ name="name" value="@item.SizeID" class="form-check-inline" />
                                            <label class="label" for="Arrivals" >@item.Size</label>
                                        </div>
                                    </li>
                                }



                            </ul>
                        </div>

                        <div class="widget">
                            <div class="shop_banner">
                                <div class="banner_img overlay_bg_20">
                                    <img src="/assets/images/sidebar_banner_img.jpg" alt="sidebar_banner_img">
                                </div>
                                <div class="shop_bn_content2 text_white">
                                    <h5 class="text-uppercase shop_subtitle">New Collection</h5>
                                    <h3 class="text-uppercase shop_title">Sale 30% Off</h3>
                                    <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <script>
        $(document).ready(function () {
         

            LaodProduct();
        });
        function LaodProduct() {
           
            $.ajax({
                type: 'Get',
                url: '/ProductDetail/ViewProduct',
                success: function (res) {
                    $('#DivShop').html(res);
                    console.log(res);

                }
            });
        }
        function LoadBycategoryID(ID) {
            $.ajax({
                type: 'Get',
                url: '/ProductDetail/ByCategoryID',
                data: { CategoryID: ID },
                success: function (res) {
                    $('#DivShop').html(res);
                }
            });
        }
        function LoadBySubCategoryID(CateID, SubID) {
            $.ajax({
                type: 'Get',
                url: '/ProductDetail/BySubCategoryID',
                data: { CategoryID: CateID, SubCategoryID: SubID },
                success: function (res) {
                    $('#DivShop').html(res);
                }
            });
        }

        function AddToWishListt(ID) {
            debugger;
            $.ajax({
                type: 'Post',
                url: '/WishList/SaveProduct',
                data: { ProductID: ID },
                success: function (res) {
                    if (res == 1) {
                        toastr.success("Product is added to WishList");
                        ViewWishList();
                    }
                    if (res == 2) {
                        window.location.href = "/Customer/IndexLogin";
                    }
                    if (res == 3) {
                        toastr.success("Product is already added In WishList");

                    }


                }
            });
        }
    
    </script>
</div>
<!-- END MAIN CONTENT -->
